<h1>New survey</h1>

<%= render "form", survey: @survey %>

<br>

<div>
  <%= link_to "Back to surveys", surveys_path, class: "text-white bg-red-600 hover:bg-red-400 rounded-lg p-2 text-sm my-2 col-start-5 mx-auto"%>
</div>
