<h1 class="text-center text-3xl font-bold my-4">Results for <%= @survey.title %></h1>
<h2 class="text-center text-2xl font-bold my-4">Total Responses: <%= @responses %></h2>

<% @survey.questions.each do |question| %>
  <%= render "questions/question", question: question %>
<% end %>


<div class="flex flex-row-reverse">
  <%= link_to surveys_path do
    button_tag "Back to surveys",
               class: "text-white bg-red-600 hover:bg-red-400 rounded-lg p-2 h-10"
  end %>
</div>
